@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.tab-content {
  background-color: #f4f6f9;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  background: #f4f6f9;
  width: min(700px, 95%);
  border-radius: 20px;
}

.left-side {
  display: block !important;
  height: auto;
  background-image: url(https://drsw10gc90t0z.cloudfront.net/AcuCustom/Sitename/DAM/434/Books_1920_X_1080_copy.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-login {
  text-align: center;
  padding-bottom: 15px;
}

.btn-group .btn {
  display: flex;
  align-items: center;
  column-gap: 4px;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 8px 6px;
  border: 2px solid #6b7280;
  border-radius: 5px;
  background-color: #f6f6f6;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.5s, color 0.5s;
}

.btn-group .btn:hover {
  background-color: #000;
  color: #eee;
}

.btn img {
  width: 16px;
  height: 16px;
}

.or {
  position: relative;
  text-align: center;
  margin-bottom: 24px;
  font-size: 1rem;
  font-weight: 600;
}

.or::before,
.or::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #000;
}

.or::before {
  left: 0;
}

.or::after {
  right: 0;
}

input {
  width: 100%;
  padding: 12px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 4px 0 18px;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.5s;
  outline: none;
}

select {
  width: 100%;
  padding: 12px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 4px 0 18px;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.5s;
  outline: none;
}

textarea {
  position: static;
  width: 100%;
  height: 100px !important;
  padding: 12px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 4px 0 18px;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.5s;
  outline: none;
}

label {
  font-weight: 700;
  font-size: 1rem;
}

.login-btn {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 24px;
  margin: 12px 0 24px;
  border: 2px solid #6b7280;
  border-radius: 5px;
  background-color: #f6f6f6;
  cursor: pointer;
  transition: all 0.5s;
}

.login-btn {
  padding-top: 10px;
  background: black;
  color: #fff;
  border: none;
  position: relative;
  height: 50px;
  font-size: 14px;
  padding: 0 2em;
  cursor: pointer;
  transition: 500ms ease all;
  outline: none;
}

.login-btn:hover {
  background: #fff;
  color: black;
}

.login-btn:before,
.login-btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: black;
  transition: 400ms ease all;
}

.login-btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.login-btn:hover:before,
.login-btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.links {
  display: flex;
  justify-content: space-between;
}

a {
  color: #000;
  font-size: 0.88rem;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: rgb(13, 133, 185);
}

.error-input {
  border: 2px solid red;
  background-color: #ffbdbd;
  outline: none;
}

button:disabled {
  background-color: white;
  color: #000;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  cursor: not-allowed;
  opacity: 0.4;
}

.wrap {
  width: 300px;
  text-align: center;
  overflow: hidden;
}
label[for="upload"] {
  display: inline-block;
  border: 2px solid #ccc;
  font-weight: bold;
  background: #eee;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}
label[for="upload"]:hover {
  background: #ddd;
}
label[for="upload"] input {
  display: none;
}
.thumb {
  position: relative;
  height: 170px;
  width: 185px;
  overflow: hidden;
  margin: 40px 0;
  cursor: move;
  margin: auto;
}
.thumb:before {
  content: "";
  display: block;
  position: absolute;
  width: 96%;
  height: 96%;
  border: 3px dashed #eee;
  z-index: 9;
  top: 1%;
  left: 1%;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
.thumb:hover::before {
  opacity: 0.6;
}
.thumb img {
  min-height: 50%;
  max-height: 18vh;
  width: auto !important;
  transition: all 0.4s;
}

.svg-color {
  width: 16;
  height: 16;
  fill: #005cc5;
}

.invalid {
  color: red;
  font-weight: bold;
}

.valid {
  color: green;
  font-weight: bold;
}

#progressBar {
  border-radius: 15px;
}
.progress {
  border-radius: 15px !important;
  margin-bottom: 5px !important;
}

.u-float-right {
  float: right;
}

.u-flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  zoom: 1;
}

#card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  border-radius: 16px;
  overflow: hidden;
  cursor: default;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  transform: 0.3s all ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
}

#card .profile-container {
  background-color: #343a40;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  transition: 0.3s all ease-in-out;
}

#card .profile-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 16px;
}

#card .profile-info h1 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

#card .profile-info .job-title {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.card .profile-info .desc {
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.9rem;
  max-width: 300px;
}

#card .profile-social {
  display: flex;
  gap: 8px;
}

#card .profile-social a {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  background-color: #343a40;
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  align-content: center;
}

#card .profile-social a:hover {
  text-decoration: underline;
  background: #000000;
}

.card-bottom {
  width: 100%;
  background-color: #343a40;
  height: 5px;
  transition: 0.3s all ease-in-out;
  margin: 0;
  margin-left: 2px;
  margin-right: 2px;
}

#card:hover .card-bottom {
  background-color: #000000;
}

#card:hover .profile-container {
  background-color: #000000;
}
