@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.tab-content {
  background-color: #f4f6f9;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  background: #f6f6f6;
  width: min(700px, 95%);
  border-radius: 20px;
}

.left-side {
  display: block !important;
  height: auto;
  background-image: url(https://drsw10gc90t0z.cloudfront.net/AcuCustom/Sitename/DAM/434/Books_1920_X_1080_copy.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-login {
  text-align: center;
  padding-bottom: 15px;
}

.btn-group .btn {
  display: flex;
  align-items: center;
  column-gap: 4px;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 8px 6px;
  border: 2px solid #6b7280;
  border-radius: 5px;
  background-color: #f6f6f6;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.5s, color 0.5s;
}

.btn-group .btn:hover {
  background-color: #000;
  color: #eee;
}

.btn img {
  width: 16px;
  height: 16px;
}

.or {
  position: relative;
  text-align: center;
  margin-bottom: 24px;
  font-size: 1rem;
  font-weight: 600;
}

.or::before,
.or::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #000;
}

.or::before {
  left: 0;
}

.or::after {
  right: 0;
}

input {
  width: 100%;
  padding: 12px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 4px 0 18px;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.5s;
  outline: none;
}

select {
  width: 100%;
  padding: 12px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 4px 0 18px;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.5s;
  outline: none;
}

textarea {
  position: static;
  width: 100%;
  height: 100px !important;
  padding: 12px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 4px 0 18px;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.5s;
  outline: none;
}

label {
  font-weight: 700;
  font-size: 1rem;
}

.login-btn {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 24px;
  margin: 12px 0 24px;
  border: 2px solid #6b7280;
  border-radius: 5px;
  background-color: #f6f6f6;
  cursor: pointer;
  transition: all 0.5s;
}

.login-btn {
  padding-top: 10px;
  background: black;
  color: #fff;
  border: none;
  position: relative;
  height: 50px;
  font-size: 14px;
  padding: 0 2em;
  cursor: pointer;
  transition: 500ms ease all;
  outline: none;
}

.login-btn:hover {
  background: #fff;
  color: black;
}

.login-btn:before,
.login-btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: black;
  transition: 400ms ease all;
}

.login-btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.login-btn:hover:before,
.login-btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.links {
  display: flex;
  justify-content: space-between;
}

a {
  color: #000;
  font-size: 0.88rem;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: rgb(13, 133, 185);
}

.error-input {
  border: 2px solid red;
  background-color: #ffbdbd;
  outline: none;
}

button:disabled {
  background-color: white;
  color: #000;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  cursor: not-allowed;
  opacity: 0.4;
}

.wrap {
  width: 300px;
  text-align: center;
  overflow: hidden;
}
label[for="upload"] {
  display: inline-block;
  border: 2px solid #ccc;
  font-weight: bold;
  background: #eee;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}
label[for="upload"]:hover {
  background: #ddd;
}
label[for="upload"] input {
  display: none;
}
.thumb {
  position: relative;
  height: 170px;
  width: 185px;
  overflow: hidden;
  margin: 40px 0;
  cursor: move;
  margin: auto;
}
.thumb:before {
  content: "";
  display: block;
  position: absolute;
  width: 96%;
  height: 96%;
  border: 3px dashed #eee;
  z-index: 9;
  top: 1%;
  left: 1%;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
.thumb:hover::before {
  opacity: 0.6;
}
.thumb img {
  min-height: 50%;
  max-height: 18vh;
  width: auto !important;
  transition: all 0.4s;
}

.svg-color {
  width: 16;
  height: 16;
  fill: #005cc5;
}

.invalid {
  color: red;
  font-weight: bold;
}

.valid {
  color: green;
  font-weight: bold;
}

#progressBar {
  border-radius: 15px;
}
.progress {
  border-radius: 15px !important;
  margin-bottom: 5px !important;
}

.u-float-right {
  float: right;
}

.u-flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  zoom: 1;
}

.contenedor_card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card_profile {
  position: relative; /* Make the card relative for the pseudo-element */
  width: 235px;
  height: 280px;
  background-color: #fff;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  padding-top: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s ease, background-color 0.3s ease;
}

.card_profile::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 25px;
  background: #2d2d2d;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Card active state */
.card_profile.active::before {
  opacity: 1;
}

.card_profile.active {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  background-color: #f0f0f5;
}

.img_profile {
  width: 165px;
  height: 165px;
  border-radius: 15%;
  margin-top: 25px;
}

.h2_profile {
  margin: 10px 0;
  background: linear-gradient(45deg, #ff6ec4, #7873f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease;
}

/* Change h2 color to white when the card is active */
.card_profile.active .title-login {
  color: white; /* Change text color to white */
  -webkit-background-clip: none; /* Remove background clip for gradient */
  -webkit-text-fill-color: white; /* Ensure text is white */
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.social-icons a {
  color: #cdcdcd;
  font-size: 24px;
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Change social icons color to white when the card is active */
.card_profile.active .social-icons a {
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.social-icons a:hover {
  color: #666; /* Change hover color to a darker gray */
  transform: scale(1.2);
}

#infoBox {
  width: 400px;
  height: auto;
  padding: 20px;
  background-color: white;
  border: 2px solid #2d2d2d;
  color: #2d2d2d;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  transform: translateX(-50px) scale(0.8);
  transition: opacity 0.5s ease, transform 0.6s ease, box-shadow 0.4s ease;
  flex-direction: column;
  align-items: flex-start;
}

#infoBox.active {
  display: flex;
  display: block;
  position: absolute;
  transform: translateX(0) scale(1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  top: -8px;
  left: 255px;
  z-index: 1;
}

#p {
  line-height: 1.5;
}

.pills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.pill {
  background-color: #4a4a4a;
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  cursor: default;
}

.pill:hover {
  background-color: #6c757d; /* Darker gray on hover */
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}
